body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.board {
  text-align: center;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: white;
  border: 1px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square.x {
  color: blue;
}

.square.o {
  color: red;
}

.square:focus {
  outline: none;
}

.status {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}
